language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0

before_script:
  - composer self-update
  - composer update

script: vendor/bin/phpcs --standard=PSR2 src && vendor/bin/phpunit --coverage-clover coverage.xml

after_success: php vendor/bin/coveralls
